@import "tailwindcss";
.checker {
  background-color: #1b1b1b;
  background-image:
    linear-gradient(45deg, #2b2b2b 25%, transparent 25%),
    linear-gradient(-45deg, #2b2b2b 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #2b2b2b 75%),
    linear-gradient(-45deg, transparent 75%, #2b2b2b 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}
